{% load static %}
<html>
<head>
        <title> Bigyaan </title>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    </head>
    <body>
        <div class="toolbar">
            <img id="logo" src="{% static 'images/logo.png' %}" align="left">
            <div class="right-side">
                <a href="{% url 'index' %}">HOME</a>
                <a href="{% url 'aboutus' %}">ABOUT US</a>
                <a href="{% url 'ourstory' %}">OUR STORY</a>
                <a href="{% url 'workshops' %}"> WORKSHOPS</a>
                <a href="#"> GALLERY</a>
            </div>  
        </div>
    </body>
    <div class="main-section" style="text-align: center;">
        {% for gallery in galleries %}
            <h3 style="padding-bottom: 15px;border-bottom: 1px solid #eebb00">{{ gallery.title }}</h3>
            {% if gallery_description %}
            {{ gallery.description|safe }}
            {% endif %}
            {% for photo in gallery.public %}
            <a href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"></a>
            {% endfor %}
        {% endfor %}
    </div>
</html>