{% extends 'standardbase.html' %}
{% load static %}
{% block title %} Workshops {% endblock %}
{% block content %}
<div class="container">
<div class="main-section">
            <h3><iframe width="640" height="360" src="https://www.youtube.com/embed/jiyXrSk68uo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></h3>
        </div>
        <div class="main-section">
        <div class="left-section">
            <h3 style="text-align:center;">Students Workshops</h3>
            <img class="testimonial-images" style="height:225px;" src="{% static 'images/studentsworkshops.jpg'%}">
            <p>
            Science based activities that reinforce classroom learning by doing. These workshops aim to demonstrate scientific principles in action beyond the standard laboratory actiities. These are specifically linked and geared towards middle and upper secondary curriculum. These help students understand and appreciate the process of scientific enquiry, and creation of real knowledge. 
        </div>
        <div class="right-section">
        <h3 style="text-align: center;">Teachers Workshops</h3>
        <img class="testimonial-images" src="{% static 'images/teachersworkshops.jpg' %}">
        <p>
            The national curriculum framework recommends that science be taught in schools in a child-centric, enjoyable, and experiential way. This has also been reiterated by the Central Board of School Education (CBSE), that demands project and activity based learning. This is not solely the demand of the regulatory authorities - parents are also keen to see their wards participate in hands-on activities in the classroom, and they are now conscious and keen to develop creativity and innovation in their children. This makes it very important for schools to break out of the mold and ensure that there is a significant increase in the number of lessons delivered through activities rather than the more traditional chalk-and-talk method. </p>
            <p>
            However, traditional teacher training does not prepare teachers adequately, nor does the regular pressure of day to day curriculum transaction allow them to update and enrich their repertoire sufficiently. The workshop offered by Bigyaan aims to help teachers overcome the barrier and opens them up to try newer ways of delivering and reinforcing learning - through experiments, observations, and the creation of working models, use of ICT in the classroom teaching of science.
        </div>
</div>
</div>
    {% endblock %}
<html>
<head>
        <title> Bigyaan </title>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    </head>
    <body>
        <div class="toolbar">
            <img id="logo" src="{% static 'images/logo.png' %}" align="left">
            <div class="right-side">
                <a href="{% url 'index' %}">HOME</a>
                <a href="{% url 'aboutus' %}">ABOUT US</a>
                <a href="{% url 'ourstory' %}">OUR STORY</a>
                <a href="{% url 'workshops' %}"> WORKSHOPS</a>
                <a href="/photologue/gallery"> GALLERY</a>
            </div>  
        </div>
        <img src="{% static 'images/studentsworkshops.jpg' %}" align="right" style="float:right;">
        <div class="main-section" style="float:left;margin:auto;">
        	<h3> Students Workshops </h3>
        	<h4> Hand-on science activities that engage and inspire.</h4>
        	<ul>
        		<li> Easy to use materials </li>
        		<li> Linked to Curriculum </li>
        		<li> Customizable Content </li>
        		<li> Flexible to fit timetable </li>
        		<li> &#8377; </li>
        	</ul>
        </div>
    </body>
</html>
