.container
{
    position: relative;
    width: 85%;
    margin: auto;
    padding-top: 5%;
    font-size: 24px;
}

#statement
{   
    color:#eebb00;
    left:3%;
}
.right-side
{
   margin-left:30%;   
}
.right-side a:hover
{
   color:#ffffff;
}
#logo
{
    position: relative;
    bottom:23px;
    width:192px;
    height:79px;
    vertical-align: middle;
}
.toolbar a
{
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    padding-left: 60px;
}
.toolbar
{
    border:0px;
    position: relative;
    padding-top: 38px;
    padding-bottom: 41px;
    padding-left: 5%;
    align-items: left;
    background-color:  #eebb00; 
}
.navbar-custom
{
    background-color:#eebb00;
    padding:20px;
    padding-bottom:30px;
    border:0px;
    margin:0px;
    font-size:30;
}
.navbar-default .navbar-nav > li > a
{
    color:#000000;
}
.navbar-default .navbar-nav > li > a:hover
{
    color:#bb0e0b;
}
.main-section
{
    text-align: justify;
    color: #eebb00;
    font-size: 24px;
}
.main-section h3
{
    font-size:36px;
    margin-bottom:30px;
    text-align: center;
}
.main-section a
{
    text-decoration: none;
    color: #00eebb;
}
.main-section a:hover
{
    color:#bbee00;
}

h3
{
    text-align: center;
}
/* ABOUT US PAGE */
.testimonials
{
    margin-left:15%;
    margin-right:15%;
    text-align: justify;
    padding-top:2%;
    font-size:24px;
    color:#eebb00;
}
.right-section
{
    margin-top:2%;
    float:right;
    width:45%;
}
.left-section
{
    margin-top:2%;
    float:left;
    width:45%;
}
.testimonial-images
{
    height:225px;
    border-radius: 10%;
    background-color:white;
    margin-bottom:5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.testimonial-signature
{
    padding-bottom: 25px;
    border-bottom: 3px solid #eebb00;
}
#map
{
    display:block;
    margin-left:auto;
    margin-right:auto;
    height:700px;
    width:500px;

}
html, body
{
    font-family: 'Raleway', sans-serif;
    margin:0;
    padding:0;
}
.circle
{
    width:125px;
    height:125px;
    margin-right: 20px;
    border-radius: 100px;
    border: 8px solid #eebb00;
}
#landing
{
    width:70%%;
    height:83%;
    padding-top:0px;
    margin-top:0px;
}
.mission
{
    position: relative;
    font-size: 40px;
}
.image-text
{
    position: absolute;
    margin-top:5%;
    padding-top:5%;
    width:60%;
    margin-left:5%;
}
.image-text h2
{
    margin-left:10%;
}
body
{
    background-color: #050431;
    color: #ffffff;
    font-size:1vw;
}

.action
{
    padding-top: 3%;
    margin-left: -20px;
}
.action a
{
    text-decoration: none;
    color: #050431;
    background-color:#eebb00;
    padding:20px;
    margin: 2%;
    font-weight: bold;
    border: 1px solid #eebb00;
    border-radius: 100px;
}
.action a:hover
{
    color:#bb0e0b;
}
.container-fluid
{
    padding: 0px;
}
.container
{
    margin-top:5%;
}